@media screen and (max-width: 480px) {
    section.grasspic{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-dropdown{
        background-image: url(pngwing.com.png);
    }
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    height: 1000px;
    font-family: 'Roboto', sans-serif;
}
header ul li a:hover, li.selected a{
    color: #09944A;
}
a:link{
    text-decoration: none;
}

header a{
   font-family: 'Roboto', sans-serif;
   color: #FAAF42;
}
.logo{
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin: auto;

}
ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    /* justify-content: center; */
    width: auto;
    padding-left: 30%;
    padding-right: 30%;
    align-items: baseline;
    justify-content: space-between;
}
/* header,main,section,footer{
  border: 1px black groove;
} */
main.home{
    height: 400px;
    background-image: url("backgroundfield.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
div.information{
    margin: 20%;
}

.main-container-home main a{
    background-color: #DC8104;
    color: white;
    padding: 14px 15px 12px;
}
.main-container-home main a:hover{
    background-color: #09944A;
} 

p.home,h2{
    background-color: black;
    color: wheat;
    font-size: 20px;
    padding: 12px 27px;
    text-align: left;
 
    
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}
.bottom{
    font-style: italic;
    font-size: smaller;
    margin-left: 100px;
    color: #DC8104;
    
}
ul.social-media-list img {
    padding: auto;
    border-radius: 5px;
    background-color: #DC8104;
    width: auto;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;  
}
.grasspic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.grass1{
    width:400px;
    height:300px;
    margin: 10px;
    border: #DC8104 groove 5px;
    
}
.caption{
    text-align: center;
    padding-bottom: 10px;
    color: #DC8104;
}
main.about{
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3{
    background-color: black;
    color: wheat;
    padding: 10px;
    font-size: 35px;
    margin: 15px;
    
    
}
div.titleabout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.abouttitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
}
.abouttitle{
    text-align: center;
}
h4{
    font-size: 20px;
    color: black;
}
div.abouttitle p{
    font-size: 14px;
    color: gray;
}

.gallerygrass{
    width: 300px;
    height: 300px;
    border: groove #DC8104 5px;
}
main.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
div.grasstypes p{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: wheat;
    background-color: black;
    font-size: 30px;
    padding: 10px;
}
.grassimages{
 display: grid;
 grid-template-columns: 300px 300px 300px;
 grid-template-rows: 300px 300px 300px;
 column-gap: 10px;
 row-gap: 10px;
}
main.blog{
    margin: auto;
    width: 960px;
    display: flex;
    flex-direction: column;
    

}
div.why,div.pricing,div.customer{
    display: flex;
    flex-direction: row;
    margin: 10px;
    
    
}


.why,.pricing,.customer{
    border: #DC8104 solid 3px;
   
}
.blogimages {
    width:350px;
    height: 333px;
    border: #DC8104 solid 3px;
}
section.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding:30px;
}
h5{
    font-size: 25px;
}
section.info p{
    color: gray;
    text-align: center;
}

.button1 {
    background-color: #DC8104; 
    color: wheat; 
    border: 2px solid #4CAF50;
    transition-duration: .4s;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  h6{
      text-align: center;
      font-size: 50px;
      margin: auto;
      padding-top: 20px;
  }
  form{
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      
  }
  input{
      margin: 30px;
  }
  form input{
      text-transform: uppercase;
      text-align: center;
      width: 550px;
      font-size: 16px;
      color: green;
  }
  textarea{
      height: 200px;
      overflow: auto;
      resize: none;
      text-align: center;
      text-transform: uppercase;
      color: green;
      font-size: 16px;
  }

